/*
* 通用排版样式
*/

.bot0 {
    bottom: 0px;
}

.h-100 {
    height: 100%;
}
.h50 {
    height: 50px
}

.ml10 {
    margin-left: 10px;
}
.mt100 {
    margin-top: 100px;
}

.ps-a {
    position: absolute;
}
.ps-r {
    position: relative;
}

.top0 {
    top: 0px;
}

.w-100 {
    width: 100%;
}

.w500 {
    width: 500px;
}