/*
 * 去除标签默认样式
 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input,
textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}

/*
 * 标签添加默认样式
 */
input {
	line-height: 20px;
}
button, input[type=button], input[type=submit] {
	padding: 5px 15px 5px 15px;
}


/*
 * 字体大小
 */
.fz0 {
	font-size: 0px;
}
.fz14 {
	font-size: 14px;
}
.fz16 {
	font-size: 16px;
}
.fz20 {
	font-size: 20px;
}
/*
 * 高度、宽度
 */
.h50 {
	height: 50px;
}
.h100 {
	height: 100px;
}
.h-100 {
	height: 100%;
}
.w300 {
	width: 300px;
}
.w-100 {
	width: 100%;
}

/*
 * 定位
 */
.pa {
	position: absolute;
}
.pr {
	position: relative;
}
.pf {
	position: fixed;
}
.tc {
	text-align: center;
}
.fr {
	float: right;
	display: inline;
}
.fl {
	float: left;
	display: inline;
}

/*
 * 布局显示
 */
.oh {
	overflow: hidden;
}
.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
.mt50 {
	margin-top: 50px;
}
.mr10 {
	margin-right: 10px;
}
.mr20 {
	margin-right: 20px;
}
.p30 {
	padding: 30px;
}
.pl10 {
	padding-left: 10px;
}
.pl20 {
	padding-left: 20px;
}
.pl30 {
	padding-left: 30px;
}

/*
 * 其他
 */
.cursor {
	cursor: pointer;
}